#timeSpan{
    color: white;
}

#loginRow{
    color: white;
    background-color: black;
}

#loginLink, #signupLink, #logOutLink {
    padding: 0px 16px;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}